[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-socketio = "*"
flask-login = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.11"
