<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>实时聊天</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <ul id="messages"></ul>
    <input id="message_input" autocomplete="off" /><button onclick="sendMessage()">发送</button>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('message', function(data) {
            $('#messages').append($('<li>').text(data.username + ': ' + data.message).append($('<button>').text('私聊').attr('onclick', 'sendPrivateMessage("' + data.username + '")')));
        });

        function sendMessage() {
            var message = $('#message_input').val();
            socket.emit('message', message);
            $('#message_input').val('');
        }

        function sendPrivateMessage(username) {
            var message = prompt('给 ' + username + ' 发送私信：');
            if (message !== null && message !== '') {
                socket.emit('private_message', {username: username, message: message});
            }
        }
    </script>
</body>
</html>
